
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif;
    margin: 0px;
    
}

  
section{
    background:url("images/bg-image.png") no-repeat center center/cover;
    color:#fff;
    position: absolute;
    width:100%;
    height: calc(100vh + 60px);
}

.head { 
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top :200px;
      
}

.head h1{
    font-size:60px;
    letter-spacing: 3px;
}

.head p {
    font-size: 40px;
}
.head .icon{
    display: flex;
    width: 250px; 
    justify-content: space-around;
}

.head i{
    height: 50px;
    width: 50px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.link{
	color: black; 
    background-color: #fff;
    border-radius:50px ;
}

.link:hover{
    color: #fff;
    background-color: black;
    
}
.link:active{
    transform: scale(0.94);
}


nav ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    list-style: none; 
}

nav ul li , a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:focus, a:hover ,a:active {
    color: #454545;
}


